{
    "root": true,
    "overrides": [
        {
            "files": ["./engine-source/**/*.ts"],
            "plugins": ["@typescript-eslint"],
            "extends": ["plugin:@typescript-eslint/recommended"],
            "parser": "@typescript-eslint/parser"
        }
    ]
}
