{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "jsxSingleQuote": false,
    "printWidth": 120,
    "quoteProps": "preserve",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false
}
